/* Background video */
body{
    background-color: black;
}
#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: -40% center;/* 👈 Shift focus to left */
    z-index: -1;
    pointer-events: none;
  }
  